.App {
  text-align: center;
  height: 100vh;
  /* background-color: #99d2fe; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App .home-header{
  background-color: #4575b6;
}


.App .home-header img{
  height: 100px;
}